
html,
body,
#root {
  height: 100%;
  width: 100%;
}

.parent-div {
  position: relative;
  height:100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.background {
  position: fixed;
  height: 100vh; 
  width:100%;
  /* overflow: auto; */
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #16a085, #f4d03f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #16a085, #f4d03f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* filter:blur(80px); */
  opacity: 0.6;
  z-index: -1;
}

.header-link {
  margin: 30px;
  font-size: 16px;
  color: #ecf0f1;
}

.navbar-collapse .header-link {
  margin-left: 0;
}

.navbar-collapse .login-status a.nav-link{
  margin-left: -0.9em;
}

.navbar-collapse .searchbar {
  margin-left: -1em;
  display: flex;
}

.brand {
  font-size: 1vw;
  background-color:#227093;
  color: blue;
  border-radius: 7px;
  padding: 0.1em 0.3em;
}

.header-link:hover {
  text-decoration: none;
  color: #2699fb;
}

.header {
  width: 100%;
  background-color: #434343;
  min-height: 6vh;
}

.brand {
  color: #ecf0f1 !important;
  font-size: 20px !important;
}

.login-status {
  width: 100px;
  overflow: hidden;
  text-align: right;
}

.navbar-collapse .login-status {
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.searchbar {
  background-color: white !important;
  border-radius: 4px;

  padding: 1px;
  margin-right: 20px;
  max-width: 400px;
}

.searchbar-text {
  border: none;
  margin: 0 !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchbar-text:focus {
  box-shadow: none;
}

.searchbar-button {
  background-color: white;
  border: none;
}

.searchbar-button:hover {
  background-color: white;
}

.searchbar-button:focus {
  background-color: white !important;
  box-shadow: none !important;
}

.searchbar-icon {
  color: #0472d1;
}

.searchbar-icon:hover {
  color: #2699fb;
}

.searchSelect {
  border: none;
}
.searchSelect:focus {
  box-shadow: none;
}
.loc-table {
  table-layout: fixed;
  background-color:#FFFFFF;
  border-radius:10px;
    -moz-border-radius:10px;
}

@media only screen and (max-width: 600px) {
  th {
    font-size: 2vw;
    word-wrap: break-word;
  }
  td {
    font-size: 2.3vw;
  }
}

.btn-primary {
  background-color: #E27D60;
  margin: 0.2em;
  /* border-radius: 15px; */
  border: none;
  font-size: calc(9px + 0.6vw);
}

.btn-primary:focus {
  border-color: #0472d1;
}

.title-text {
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px;
}

.grey-container {
  width: 100%;
  background-color: #434343;
  padding: 0.7em;
  border-radius: 10px;
}

.card {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.sort-icon {
  float: right;
  color: #0472d1;
}

.sort-active {
  color: #0472d1;
}

.map {
  height: 94vh !important;
}

.fav-red {
  background-color: #e75480 !important;
  border: none !important;
}

.fav-red:hover {
  background-color: #ff83a8 !important;
}

.fav-red:focus {
  background-color: #ff83a8 !important;
  box-shadow: none !important;
}

.fav-red-outline {
  color: #e75480;
  background-color: white;
  border: 2px solid #e75480;
}

.fav-red-outline:hover {
  background-color: #e75480 !important;
  color: white !important;
  border: 2px solid white !important;
}

.fav-red-outline:focus {
  color: #e75480 !important;
  background-color: white !important;
  border: 2px solid #e75480 !important;
  box-shadow: none !important;
}

.fa-pencil-alt,
.fa-trash,
.fa-times,
.fa-check,
.fa-plus,
.fa-csv {
  margin: 0px 10px;
  font-size: 20px;
}

.fa-pencil-alt:hover,
.fa-trash:hover,
.fa-times:hover,
.fa-check:hover,
.fa-crosshair:hover,
.fa-plus:hover,
.fa-csv:hover,
.fa-sync :hover {
  cursor: pointer;
}

.fa-pencil-alt,
.fa-check {
  color: green;
}

.fa-trash,
.fa-times {
  color: red;
}

.fa-crosshair {
  font-size: 25px;
}

.fa-signin,
.fa-user,
.fa-list,
.fa-map,
.fa-signout,
.fa-users,
.fa-sync,
.fa-info {
  margin: -2px 5px;
  font-size: 20px;
}

.btn-minus {
  width: fit-content;
  height: fit-content;
  position: relative;
  bottom: -32px;
}

.spinner-border {
  width: 20px !important;
  height: 20px !important;
  margin: 0 27px !important;
}

td > .form-group {
  margin: 0px;
}

.form-label {
  color:#FFFFFF; 
}

canvas {
  background-color: #FFFFFF;
  padding: 0.5em 0.9em;
  border-radius: 7px;
  margin-bottom: 2vh;
  }